In [94]:
df=read.csv('tes_sten.kimura.txt',sep = ' ')

In [2]:
head(df)

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Transib
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0
  Transposable Tx1 Vingi Zisupton hAT piggyBac rRNA tRNA X
1 0            0   0     0          0 0        0     0   NA
2 0            0   0     0        173 0        0    66   NA
3 0            0   0     0          0 0        0     0   NA
4 0            0   0     0          0 0        0     0   NA
5 0            0   0     0          0 0        0     0   NA
6 0            0   0     0         40 0        0     0   NA

In [117]:
tail(df)

   Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Transib
66 65  0      0   0   0              0     0     0       0    0   ⋯ 0
67 66  0      0   0   0              0     0     0       0    0   ⋯ 0
68 67  0      0   0   0              0     0     0       0    0   ⋯ 0
69 68  0      0   0   0              0     0     0       0    0   ⋯ 0
70 69  0      0   0   0              0     0     0       0    0   ⋯ 0
71 70  0      0   0   0              0     0     0       0    0   ⋯ 0
   Transposable Tx1 Vingi Zisupton hAT piggyBac rRNA tRNA X
66 0            0   0     0        0   0        0    0    NA
67 0            0   0     0        0   0        0    0    NA
68 0            0   0     0        0   0        0    0    NA
69 0            0   0     0        0   0        0    0    NA
70 0            0   0     0        0   0        0    0    NA
71 0            0   0     0        0   0        0    0    NA

In [116]:
print(nrow(df)) # number of rows
print(ncol(df)) # number of columns
print(dim(df)) # dimensions
print(length(df$Academ)) # use for vectors

[1] 71
[1] 57
[1] 71 57
[1] 71

In [17]:
# get column names
names(df)

 [1] "Div"            "Academ"         "BEL"            "CR1"
 [5] "Caulimoviridae" "Copia"          "Crack"          "Crypton"
 [9] "DIRS"           "DNA"            "Daphne"         "ERV1"
[13] "ERV2"           "EnSpm.CACTA"    "Endogenous"     "Ginger2.TDD"
[17] "Gypsy"          "Harbinger"      "Helitron"       "I"
[21] "IS3EU"          "Jockey"         "Kolobok"        "L1"
[25] "L2"             "LTR"            "Mariner.Tc1"    "Merlin"
[29] "MuDR"           "Multicopy"      "NeSL"           "Non.LTR"
[33] "Nonautonomous"  "Novosib"        "P"              "PENT_PU"
[37] "Penelope"       "Polinton"       "R1"             "RTE"
[41] "RTEX"           "SINE"           "SINE2.tRNA"     "Satellite"
[45] "Sola1"          "Sola3"          "TLH.1B_CCri"    "Transib"
[49] "Transposable"   "Tx1"            "Vingi"          "Zisupton"
[53] "hAT"            "piggyBac"       "rRNA"           "tRNA"
[57] "X"

In [19]:
# get column names
colnames(df)

 [1] "Div"            "Academ"         "BEL"            "CR1"
 [5] "Caulimoviridae" "Copia"          "Crack"          "Crypton"
 [9] "DIRS"           "DNA"            "Daphne"         "ERV1"
[13] "ERV2"           "EnSpm.CACTA"    "Endogenous"     "Ginger2.TDD"
[17] "Gypsy"          "Harbinger"      "Helitron"       "I"
[21] "IS3EU"          "Jockey"         "Kolobok"        "L1"
[25] "L2"             "LTR"            "Mariner.Tc1"    "Merlin"
[29] "MuDR"           "Multicopy"      "NeSL"           "Non.LTR"
[33] "Nonautonomous"  "Novosib"        "P"              "PENT_PU"
[37] "Penelope"       "Polinton"       "R1"             "RTE"
[41] "RTEX"           "SINE"           "SINE2.tRNA"     "Satellite"
[45] "Sola1"          "Sola3"          "TLH.1B_CCri"    "Transib"
[49] "Transposable"   "Tx1"            "Vingi"          "Zisupton"
[53] "hAT"            "piggyBac"       "rRNA"           "tRNA"
[57] "X"

In [18]:
# get row names (index)
rownames(df)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25" "26" "27" "28" "29" "30"
[31] "31" "32" "33" "34" "35" "36" "37" "38" "39" "40" "41" "42" "43" "44" "45"
[46] "46" "47" "48" "49" "50" "51" "52" "53" "54" "55" "56" "57" "58" "59" "60"
[61] "61" "62" "63" "64" "65" "66" "67" "68" "69" "70" "71"

In [41]:
# Remove columns containing at least on null (NA) value
head(df[ , colSums(is.na(df)) == 0])

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ TLH.1B_CCri
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0
  Transib Transposable Tx1 Vingi Zisupton hAT piggyBac rRNA tRNA
1 0       0            0   0     0          0 0        0     0
2 0       0            0   0     0        173 0        0    66
3 0       0            0   0     0          0 0        0     0
4 0       0            0   0     0          0 0        0     0
5 0       0            0   0     0          0 0        0     0
6 0       0            0   0     0         40 0        0     0

In [16]:
# Remove last column
head(df[,-ncol(df)])

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ TLH.1B_CCri
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0
  Transib Transposable Tx1 Vingi Zisupton hAT piggyBac rRNA tRNA
1 0       0            0   0     0          0 0        0     0
2 0       0            0   0     0        173 0        0    66
3 0       0            0   0     0          0 0        0     0
4 0       0            0   0     0          0 0        0     0
5 0       0            0   0     0          0 0        0     0
6 0       0            0   0     0         40 0        0     0

In [25]:
# Remove specific columns using which() and names()
head(df[,-which(names(df) %in% c('rRNA','tRNA','X'))])

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Sola1 Sola3
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0     0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0     0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0     0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0     0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0     0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0     0
  TLH.1B_CCri Transib Transposable Tx1 Vingi Zisupton hAT piggyBac
1 0           0       0            0   0     0          0 0
2 0           0       0            0   0     0        173 0
3 0           0       0            0   0     0          0 0
4 0           0       0            0   0     0          0 0
5 0           0       0            0   0     0          0 0
6 0           0       0            0   0     0         40 0

In [28]:
# Remove columns using names()
head(df[,!names(df) %in% c('rRNA','tRNA','X')]) # can also use colnames()

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Sola1 Sola3
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0     0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0     0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0     0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0     0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0     0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0     0
  TLH.1B_CCri Transib Transposable Tx1 Vingi Zisupton hAT piggyBac
1 0           0       0            0   0     0          0 0
2 0           0       0            0   0     0        173 0
3 0           0       0            0   0     0          0 0
4 0           0       0            0   0     0          0 0
5 0           0       0            0   0     0          0 0
6 0           0       0            0   0     0         40 0

In [6]:
# Removing column using subset
head(subset(df,select = -X))

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ TLH.1B_CCri
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0
  Transib Transposable Tx1 Vingi Zisupton hAT piggyBac rRNA tRNA
1 0       0            0   0     0          0 0        0     0
2 0       0            0   0     0        173 0        0    66
3 0       0            0   0     0          0 0        0     0
4 0       0            0   0     0          0 0        0     0
5 0       0            0   0     0          0 0        0     0
6 0       0            0   0     0         40 0        0     0

In [4]:
# Removing multiple columns using subset
df_sub = subset(df,select = -c(tRNA,rRNA,X,Transposable))
head(df_sub)

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Satellite
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0
  Sola1 Sola3 TLH.1B_CCri Transib Tx1 Vingi Zisupton hAT piggyBac
1 0     0     0           0       0   0     0          0 0
2 0     0     0           0       0   0     0        173 0
3 0     0     0           0       0   0     0          0 0
4 0     0     0           0       0   0     0          0 0
5 0     0     0           0       0   0     0          0 0
6 0     0     0           0       0   0     0         40 0

In [103]:
# Select specifiv rows
df_sub[c(3,5),]

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Satellite
3 2   0      0   0   0              0     0     0       0    0   ⋯ 0
5 4   0      0   0   0              0     0     0       0    0   ⋯ 0
  Sola1 Sola3 TLH.1B_CCri Transib Tx1 Vingi Zisupton hAT piggyBac
3 0     0     0           0       0   0     0        0   0
5 0     0     0           0       0   0     0        0   0

In [109]:
# Select specific columns
head(df_sub[,c(3,5)])

  BEL Caulimoviridae
1 0   0
2 0   0
3 0   0
4 0   0
5 0   0
6 0   0

In [38]:
# Select specific columns by name
head(df_sub[,c('BEL','Copia')])

  BEL Copia
1 0   0
2 0   0
3 0   0
4 0   0
5 0   0
6 0   0

In [46]:
# Create dataframe copy
df02 <- data.frame(df) # can also use df02 <- cbind(df)
head(df02)

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Transib
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0
  Transposable Tx1 Vingi Zisupton hAT piggyBac rRNA tRNA X
1 0            0   0     0          0 0        0     0   NA
2 0            0   0     0        173 0        0    66   NA
3 0            0   0     0          0 0        0     0   NA
4 0            0   0     0          0 0        0     0   NA
5 0            0   0     0          0 0        0     0   NA
6 0            0   0     0         40 0        0     0   NA

In [63]:
# Create column with sum of all values
df_sub02 = cbind(df_sub)
df_sub02[,'totais']=rowSums(df_sub02)
head(df_sub02)

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Sola1 Sola3
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0     0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0     0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0     0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0     0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0     0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0     0
  TLH.1B_CCri Transib Tx1 Vingi Zisupton hAT piggyBac totais
1 0           0       0   0     0          0 0          0
2 0           0       0   0     0        173 0        174
3 0           0       0   0     0          0 0          2
4 0           0       0   0     0          0 0        223
5 0           0       0   0     0          0 0         30
6 0           0       0   0     0         40 0         45

In [70]:
# or Create column with sum of all values
df_sub03 = cbind(df_sub)
df_sub03$totais=rowSums(df_sub03)
head(df_sub03)

  Div Academ BEL CR1 Caulimoviridae Copia Crack Crypton DIRS DNA ⋯ Sola1 Sola3
1 0   0      0    0  0              0     0     0       0    0   ⋯ 0     0
2 1   0      0    0  0              0     0     0       0    0   ⋯ 0     0
3 2   0      0    0  0              0     0     0       0    0   ⋯ 0     0
4 3   0      0   66  0              0     0     0       0    0   ⋯ 0     0
5 4   0      0    0  0              0     0     0       0    0   ⋯ 0     0
6 5   0      0    0  0              0     0     0       0    0   ⋯ 0     0
  TLH.1B_CCri Transib Tx1 Vingi Zisupton hAT piggyBac totais
1 0           0       0   0     0          0 0          0
2 0           0       0   0     0        173 0        174
3 0           0       0   0     0          0 0          2
4 0           0       0   0     0          0 0        223
5 0           0       0   0     0          0 0         30
6 0           0       0   0     0         40 0         45

In [75]:
# Add row with sum of all values in column
# df_sub03[nrow(df_sub03)+1,]=colSums(df_sub03)
df_sub03['totais',]=colSums(df_sub03)
tail(df_sub03)

       Div  Academ BEL  CR1   Caulimoviridae Copia Crack Crypton DIRS DNA  ⋯
68       67  0        0     0   0               0    0     0       0     0 ⋯
69       68  0        0     0   0               0    0     0       0     0 ⋯
70       69  0        0     0   0               0    0     0       0     0 ⋯
71       70  0        0     0   0               0    0     0       0     0 ⋯
72     2485 42     3985  8051  66            2212  205   206     180  1317 ⋯
totais 4970 84     7970 16102 132            4424  410   412     360  2634 ⋯
       Sola1 Sola3 TLH.1B_CCri Transib Tx1 Vingi Zisupton hAT  piggyBac totais
68      0     0     0            0       0  0      0         0   0          67
69      0     0     0            0       0  0      0         0   0          68
70      0     0     0            0       0  0      0         0   0          69
71      0     0     0            0       0  0      0         0   0          70
72     42    17    44          153     439 31    118      4499 295       87177
totais 84    34    88          306     878 62    236      8998 590      174354

In [111]:
# Create dataframe
df_criado = data.frame(foo=c(32,45,56,12),bar=c(65,23,64,98))
df_criado

  foo bar
1 32  65
2 45  23
3 56  64
4 12  98

In [114]:
# Give name to rows
df_criado02 = data.frame(foo=c(32L,45L,56L,12L), # add L to specify number as integer
                         bar=c(65,23,64,98),
                         row.names = c('l1','l2','l3','l4'))
df_criado02

   foo bar
l1 32  65
l2 45  23
l3 56  64
l4 12  98